@import 'utils';
@import 'fonts';
@import 'typography';
@import '.././styles/top-bar';
@import '.././styles/hero';
@import '../styles/products';
@import '../styles/about';
@import '../styles/footer';
@import '../styles/menu';
@import '../styles/page';

*,
*::before,
*::after {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;

  @include page-container;
}

body {
  background-color: $c-pink;
}

.main {
  @include content-padding-inline;
}
