$c-gray: #7f8096;
$c-pink: #ffeefc;
$c-black: #1c1a26;
$c-orange: #f9512e;
$c-white: #fff;
$c-darkOrange: #b2341a;
$font-inter: Inter, sans-serif;
$time-transition: all ease-out 0.3s;
$mobile-min-width: 320px;
$tablet-min-width: 640px;
$tablet-max-width: 799px;
$desktop-min-width: 1240px;
$large-desktop-min-width: 1280px;
$mobile-padding-inline: 16px;
$tablet-padding-inline: 44px;
$desktop-padding-inline: 44px;
$large-desktop-padding-inline: 124px;
